* {
  box-sizing: border-box;
  outline: 0 !important; }

html {
  height: 100%; }

body {
  font-size: 15px;
  font-family: ubuntu,Helvetica,Arial,sans-serif;
  color: #333;
  line-height: 1.428571429;
  background-color: #efefef;
  overflow-y: scroll;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%; }

.container {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 1200px;
      margin: 0 auto; } }

.header {
  flex: 0 0 60px;
  display: flex;
  align-items: center;
  background: #343a40;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
  padding: 0 15px; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .branding {
    flex: 0 0 100px; }
    .header .branding img {
      display: block;
      height: 40px; }
  .header .menu {
    flex: auto;
    display: flex;
    justify-content: space-between; }
    .header .menu a {
      color: #fff;
      text-decoration: none; }
    .header .menu .main-menu a.active {
      text-decoration: underline; }
  @media screen and (min-width: 992px) {
    .header {
      flex: 0 0 80px; }
      .header .branding img {
        height: 60px; } }
  @media screen and (min-width: 1300px) {
    .header {
      padding: 0; } }

.page {
  flex: auto;
  padding: 0 30px; }
  .page h2 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .page h3 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .page .section-title {
    text-align: center;
    margin-bottom: 15px; }
    .page .section-title h2 {
      margin-bottom: 0; }
    .page .section-title p {
      margin: 0; }
  .page h1 {
    font-size: 1.5em;
    padding-top: 15px; }
  .page .messages {
    margin: 15px 0; }
  @media screen and (min-width: 992px) {
    .page h1 {
      font-size: 2em; } }
  @media screen and (min-width: 1300px) {
    .page {
      padding: 0; } }

.charts {
  display: flex;
  flex-wrap: wrap; }
  .charts > div {
    flex: 0 0 100%;
    margin-bottom: 30px; }
  .charts .ch {
    flex: 1 0 auto; }
  .charts .ch-50 {
    flex: 1 0 50%; }
  .charts .ch-33 {
    flex: 0 0 33.3%; }
  .charts .ch-20 {
    flex: 0 0 20%; }
  .charts .ch-25 {
    flex: 0 0 25%; }
  .charts .ch-40 {
    flex: 0 0 40%; }

.page-user-login .menu {
  display: none; }

.form-item {
  margin-top: 0;
  position: relative; }
  .form-item label {
    font-weight: 400;
    margin-bottom: 5px; }
  .form-item .form-text,
  .form-item .form-select {
    display: block;
    height: 34px;
    padding: 6px 12px;
    color: #555555;
    font-size: 14px;
    line-height: 1.42857;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 1px 5px 10px #ddd;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-item .form-text {
    max-width: 100%; }
  .form-item .description {
    color: #ccc; }
    .form-item .description strong {
      font-weight: 400; }
  .form-item .ajax-progress {
    position: absolute;
    right: 0;
    top: 0; }

.btn {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  line-height: 1.428571429;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0;
  padding: 5px 15px;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
  background-color: #999; }
  .btn:hover {
    background-color: #bfbfbf; }
  .btn.btn-brand {
    color: #fff;
    background-color: #213A6E;
    border-color: #3359a9; }
    .btn.btn-brand:hover {
      color: #fff;
      background-color: #3359a9; }
  .btn.btn-white {
    color: #333;
    background-color: #efefef;
    border-color: #213A6E; }
    .btn.btn-white:hover {
      color: #333;
      background-color: #c9c9c9; }
  .btn.btn-wide {
    width: 100%; }

.user-auth-form-wrapper {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .user-auth-form-wrapper .form-actions {
    margin-top: 30px; }
  .user-auth-form-wrapper .recovery-link {
    color: #ccc;
    font-size: 0.8em; }
  .user-auth-form-wrapper > h1,
  .user-auth-form-wrapper > form {
    width: 100%; }
  @media screen and (min-width: 768px) {
    .user-auth-form-wrapper {
      padding-top: 120px; } }

.dash-filter-form > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end; }
  .dash-filter-form > div > div {
    flex: 0 0 auto; }
  .dash-filter-form > div .form-item {
    margin-right: 15px;
    margin-left: 120px; }

ul.primary {
  margin-top: 2em; }
  ul.primary li a {
    color: #333;
    padding: 0.5em 1em;
    line-height: 2em; }
  ul.primary li.active a {
    background: #efefef;
    border-bottom: 1px solid #efefef; }

/*# sourceMappingURL=dtheme.css.map */
